
/* ==========================================================================
   Custom styles
   ========================================================================== */
/*====================== This is to get a sticky footer code ==============*/

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body{
 margin-top: 80px !important;
}

header.carousel .fill {
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
}

.img-portfolio {
	margin-bottom: 30px;
}

.carousel-inner{
 margin-top: -30px;
}

