
/* ==========================================================================
   Custom styles
   ========================================================================== */
/*====================== This is to get a sticky footer code ==============*/
html, body {
	height: 100%;
	margin: 0;

}


body {
	padding-top: 50px;

}
footer {
	background-color: #c3c3c3;
}
.wrapper{
	min-height: 100%;
	margin-bottom: -60px;
}
.wrapper:after{
	content: "";
	display: block;
}

.wrapper:after, footer{
	height: 60px;
}

/* ============================================================================*/

header.carousel .fill {
	width: 100%;
	height: 500px;
	background-position: center;
	background-size: cover;
}

.img-portfolio {
	margin-bottom: 30px;
}