{% extends "templates/default_email.twig" %}

{% block content %}
    <h3>Thank You {{ name }}</h3>
    <p>Your email was received and we will respond shortly</p>
    <p>Regards</p>
    <p>Frostweb Team</p>
{% endblock %}