{% extends "templates/default_email.twig" %}

{% block content %}
    <h6>Thank You {{ name }}</h6>
    <p>Your email was received and we will respond shortly</p>
    <p>Regards</p>
    <p>Frostweb Team</p>
{% endblock %}