<div class="container">
	<ol class="breadcrumb">
		{{ breadCrumbs | json_encode }}
			{% for crumbs in breadCrumbs %}
				<li class="{{ crumbs.active ? 'active' : '' }}"><a href="{{ path_for(crumbs.uri|e) }}">{{ crumbs.route }}</a></li>
			{% endfor %}
	</ol>
</div>