<div class="container-fluid border-color ">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				Email us: <a href="mailto:michael@frostweb.co.za?Subject=General" target="_top">Michael@frostweb.co.za</a>
			</div>
			<div class="col-md-2">
				<span id="linkin"><a href="https://www.linkedin.com/in/michael-meyer-85860628?trk=hp-identity-name" target="_blank"></a></span>
				<span id="twitter"><a href="http://www.twitter.com" target="_blank"></a></span>
				<span id="facebook"><a href="https://www.facebook.com/profile.php?id=554743834" target="_blank"></a></span>
			</div>
		</div>
	</div>
</div>